/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

.container {
    position: relative;
    min-height: 100%;
    display: -moz-groupbox;
}
.header {
    background-color: #f1f1f1;
    height: 40px;                
    border-bottom: 1px solid #d8d8d8;
}

button {
    border: none;
    cursor: auto;
    border-radius: 2px;
    padding: 10px;
    font-family: Segoe UI;
}

.btn-primary {
    background-color: #4285f4;
    color: white;
}

.btn-primary:hover {
    background-color: #2a75f3;
}

.btn-secondary {
    background-color: #088117;
    color: white;
}

.btn-secondary:hover {
    background-color: #077013;
}

.btn-header {
    background-color: #e5e5e5;
    color: black;
    height: 100%;
    margin-right: 3px;
    vertical-align: top;
}

.btn-header:hover {
    background-color: #d8d8d8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navigation {
    width: 180px;
    border: 1px solid #d8d8d8;
}

.content {
    margin-left: 180px;
    padding-left: 10px;
}

.main {
    padding: 10px 10px 40px 10px; /* Must be in line with height of footer */
    width: 800px;
    margin: 0 auto;
    min-height: calc(100% - 100px);
    background-color: white;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    height: 40px;
    background-color: #f1f1f1;
    border-top: 1px solid #d8d8d8;

}

.nav-section {
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    background-color: #f1f1f1;
}

li {
    color: blue;
    list-style: none;
}

li li {
    margin-left: 10px;
}

li > span:hover {
    text-decoration: underline;
    cursor: pointer;
}

form {
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #e5e5e5;
    border-radius: 1em;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
    font: 1em Segoe UI;
    line-height: 1em;
}

form div + div {
    margin-top: 1em;
}

form button {
    margin-left: 145px;
}

input, textarea {
    font: 1em Segoe UI;
    width: 400px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #999;
    padding-left: 2px;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.page-title {
    margin: 0 auto;
    width: 600px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.logo-text {
    color: #818181;
    vertical-align: sub
}
h1 {
    font-size: 3em;
}

.page-title h1, h2, h3, ;h4, h5, h6 {
    margin-bottom: 12px;
    font-family: 'Open Sans Light',Helvetica,Arial,sans-serif;
    font-weight: 200;
    line-height: 1;
}
